@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            @//<#input id="id" name="主键,用java随机码" underline="true"/>
                            <#input id="name" name="客户姓名" underline="true"/>
                            <#input id="age" name="客户年龄" underline="true"/>
                            <#input id="phone01" name="客户电话1" underline="true"/>
                            <#input id="phone02" name="客户电话2" underline="true"/>
                            <#input id="phone03" name="客户电话3" underline="true"/>
                            <#input id="phone04" name="客户电话4" underline="true"/>
                            <#input id="car01" name="客户常用车型01" underline="true"/>
                            <#input id="car02" name="客户常用车型02"/>
                </div>

                <div class="col-sm-6">
                            <#input id="car03" name="客户常用车型03" underline="true"/>
                            <#input id="rem01" name="备注一" underline="true"/>
                            <#input id="rem02" name="备注二" underline="true"/>
                            <#input id="rem03" name="备注三" underline="true"/>
                            <#input id="introduce" name="介绍人" underline="true"/>
                            <#input id="introducePhone" name="介绍人电话" underline="true"/>
                    @// <#input id="createBy" name="创建人" underline="true"/>
                    @// <#input id="createTime" name="创建时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CustomInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CustomInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/han_modular/custom/custom_info.js"></script>
@}
