<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.FixMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Fix">
        <id column="id" property="id" />
        <result column="custom_id" property="customId" />
        <result column="ispay" property="ispay" />
        <result column="cost" property="cost" />
        <result column="car01" property="car01" />
        <result column="fix_program" property="fixProgram" />
        <result column="fix_time" property="fixTime" />
        <result column="use_part" property="usePart" />
        <result column="rem01" property="rem01" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, custom_id, ispay, cost, car01, fix_program, fix_time, use_part, rem01, create_by, create_time
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List_as">
        hf.id, hf.custom_id as customId, hf.ispay, hf.cost, hf.car01, hf.fix_program as fixProgram,
         hf.fix_time as fixTime, hf.use_part as usePart, hf.rem01, hf.create_by as createBy, hf.create_time as createTime
    </sql>
    <select id="getPag" resultType="map">
        select
        <include refid="Base_Column_List_as"/>
        from han_fix hf
        left join han_custom hc on hc.id=hf.custom_id
        where 1 = 1
        <if test=" condition != null and condition !='' ">
            and (
                    hf.ispay like #{condition} or hf.car01 like #{condition} or hf.fix_program like #{condition}
                    or hf.use_part like #{condition} or hf.rem01 like #{condition}
                    or concat('%',hf.custom_id,'%')=#{condition} or hc.name like #{condition}
            )
        </if>
        <choose>
            <when test="orderByField != null and orderByField !=''">
                <choose>
                    <when test="isAsc == true">
                        order by ${orderByField} ASC
                    </when>
                    <otherwise>
                        order by ${orderByField} DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by hf.create_time DESC
            </otherwise>
        </choose>
    </select>
</mapper>
